.login-box {
    padding: 30px;
    background: white;
    border-radius: 5px;
}

.button {
    font-family: 'Nunito';
    font-weight: bold;
}

h1{
    font-family: 'Nunito';
    font-weight: bold; 
    text-transform: uppercase;

}

p{
    font-family: 'Open Sans';
    font-weight: bold;
    color: gray;
}

a{
    font-family: 'Open Sans';
    font-weight: bold;
}